{#
/**
 * @file
 *
 * theme: ADGAP
 * author: mks
 * date: 23-Oct-19
 * 
 * Theme override to display a block of type: list of links 
 * list_title: title
 * content: the links - can be multiple
 *
 */
#}

{# optional border to separate links #}
{# Booleans are strange - have to check this way #}
	{% if '1' in content.field_border[0] %}
  	{% set type_settings = 'with-border' %}
	{% endif %}

{%
  set classes = [
    'links-block',
    type_settings|clean_class
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if content.field_list_title|render %}
  {{ title_prefix }}
  	  <h2>{{ content.field_list_title }}</h2>
  {{ title_suffix }}
  {% endif%}
  {% block content %}
  		<div class="links-roll">
    {{ content|without('field_list_title', 'field_border') }}
    </div>
  {% endblock %}
</div>