{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

<div class="breadcrumb-dropdown">
		{{ menus.menu_links(items, attributes, 0) }}
</div>


{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {%
    set main_classes = [
          'menu',
          'crumb-down'
    ]
    %}
		    {% if menu_level == 0 %}
		      	<ul{{ attributes.addClass(main_classes) }}>
		      	{# <li><a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home">Home</a></li> #}
		    {% endif %}
		    
		    {% for item in items %}
		    	{% if item.in_active_trail %}
		    		{%
					    set item_classes = [
								item.below ? 'drop-down'
					    ]
				    %}

			      <li{{ item.attributes.addClass(item_classes) }} 
			      	{% if item.below %}
			      	  hover="on"
			      	{% endif %}
			      	>
			        {{ link(item.title, item.url) }}
			        {# build the links under this menu item just 1 level deep #}
			      {% if item.below %}
				    	<div class="crumb-toggle"></div>
				    	<div class="mobile-toggle"></div>
				    	{{ menus.build_tree(item.below)}}
				    {% endif %}
				    </li>
			        {% if item.below and item.in_active_trail %}
			          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
			        {% endif %}
					{% endif %}
		    {% endfor %}
		    </ul>
  {% endif %}
{% endmacro %}

{% macro build_tree(items) %}
  {% import _self as menus %}
	{% if items %}
		<ul>
			    {% for item in items %}
		    		{%
					    set item_classes = [
					    	item.in_active_trail ? 'is-active' : ''
					    ]
				    %}
			      <li{{ item.attributes.addClass(item_classes) }}>
			      {{ link(item.title, item.url) }}
		    {% endfor %}
		</ul>
	{% endif %}
{% endmacro %}