{#
/**
 * @file
 * Default theme implementation to display a paragraph:
 *  MODIFIED FOR TYPE: image with text
 *
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# if there is am image, set up columns #}
{% if content.field_slice_image|render %}
    {% set text_column = 'medium-9 columns' %}
{% else %}
    {% set text_column = 'large-9 large-centered columns' %}
{% endif %}

{%
set classes = [
'row',
'block-quote',
'paragraph--type--' ~ paragraph.bundle|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
	<div class="medium-11 medium-centered p-wrapper">
		<div class="row">
		  {% if content.field_slice_image|render %}
		  	<div class="medium-3 columns">
		  		{{content.field_slice_image}}
		  	</div>
		  {% endif %}
			<blockquote class="{{text_column}} quote-text">
				{{ content.field_simple_text }}
				{% if content.field_cite|render %}
				<cite>
					{{ content.field_cite}}
				</cite>
				{% endif %}
			</blockquote>
		</div>
	</div>
</div>
