{#
/**
 * @file
 * Theme override to display items in the home page carousel 
 *
*/
#} 
	{% set tagline = content.field_slide_learn_more[0]['#title'] %}
	{% if not tagline %}
	{% set tagline = 'Learn More' %}
	{% endif %}

<section class="half-slide">
	{% if content.field_home_slide_image|render %}
  	<div{{attributes.addClass("slide-image")}}>
  	  {{content.field_home_slide_image}}
  	</div>
		<div class="slide-text-wrapper">
			<div class="slide-text">
	  	  	{{content.field_slide_text}}
	  	    <a class="s-more-button" href="{{ content.field_slide_learn_more[0]['#url'] }}">{{ tagline }}</a>
	  	    </div>
  	</div>
  {% endif %}
</section>

